@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 100px;
    font-family: "Red Hat Text", serif;
    background-color: hsl(13, 31%, 94%);
}
body h1{
    text-align: center;
    margin-bottom: 20px;
}
main{
    display: flex;
    justify-content: center;
}
.main-container{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1.5vw;
    box-sizing: border-box;
}
.carrinho{
    width: 20%;
}
.product-item{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    width: 30%;
    position: relative;
}
.product-item img{
    width: 100%;
    border-radius: 15px;
}
.product-item h2, .product-item label{
    
    font-size: 16px;
}
.product-item h2{
    color: hsl(14, 65%, 9%);
    font-weight: 600;
}
.product-item label{
    color: hsl(12, 20%, 44%);
    font-weight: 400;
    opacity: 0.9;
    margin-top: 40px;
}
.price{
    color: hsl(14, 86%, 42%);
    font-weight: 600;
}
.price::before{
    content: 'R$ ';
}
.btn-add{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 35px;
    border: 1px solid hsl(14, 65%, 9%);
    color: hsl(14, 65%, 9%);
    font-family: "Red Hat Text", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 50px;
}
.btn-add img{
    width: 15px;
}
.btn-add:hover{
    cursor: pointer;
    background-color: hsl(14, 65%, 9%);
    color: white;
    transition: 0.2s;
}
.carrinho{
    background-color: white;
    height: 300px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 15px;
}
.carrinho h2{
    color:hsl(14, 86%, 42%);
}
.in-cart-product{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    flex-flow: column nowrap;
}